body {
    background-color: #2e2e2e;
    color: #b7e0ec;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
}

h1 {
    color: #48a9c7;
    text-align: center;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: center;
}


h1:hover {
    color: #edbcf1;
    transform: scale(1.05);
}